html, body {
    font-family: 'monospace', serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header {
    width: 100%;
    margin-bottom: 64px;
    height: 256px;
    background-color: #1EC6A3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header a {
    color: black;
}

header h1 a {
    text-decoration: none;
}

header * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    gap: 32px;
}

nav a {
    flex-basis: 10%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

section {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
}

.three-columns {
    display: flex;
    height: 500px;
    gap: 64px;
}

.three-columns h2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-start;
    height: 64px;
}

.three-columns div {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-start;
}

.three-columns div .image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    align-self: flex-start;
}

footer {
    width: 100%;
    margin-top: 64px;
    height: 256px;
    background-color: #1EC6A3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

